@page "/Games"

@using CardsBlazor.Data
@using CardsBlazor.Data.Entity
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using CardsBlazor.ApiControllers
@using CardsBlazor.Data.ViewModels
@inject GameService GameService

@if (_gameList == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
<SfGrid TValue="GameViewModel" AllowPaging="true" ShowColumnChooser="true" DataSource="_gameList">
    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
    <GridColumns>

        <GridColumn Field=@nameof(GameViewModel.Name) HeaderText="Name"></GridColumn>
        <GridColumn Field=@nameof(GameViewModel.TotalNumberOfMatches) HeaderText="Times Played" Type="ColumnType.Number"></GridColumn>
        <GridColumn Field=@nameof(GameViewModel.MinimumPlayerCount) HeaderText="Minimum Players" Type="ColumnType.Number"></GridColumn>
        <GridColumn Field=@nameof(GameViewModel.LastPlayed) HeaderText="Last Played on" Type="ColumnType.DateTime"></GridColumn>
        <GridColumn Field=@nameof(GameViewModel.TotalAmountWagered) HeaderText="Total Wagered" Type="ColumnType.Number" Format="c2"></GridColumn>
        <GridColumn Field=@nameof(GameViewModel.AverageStake) HeaderText="Average Stake" Type="ColumnType.Number" Format="c2"></GridColumn>
    </GridColumns>
</SfGrid>
}
@code {
    private List<GameViewModel> _gameList;

    protected override async Task OnInitializedAsync()
    {
        _gameList = await GameService.GetAllAsViewModels();
    }

}