@page "/"
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor

<h1>Cards App v0.9</h1>

<div>
    <h4>Release Notes</h4>
    <ul class="dark-mode-text">
        <li>Added ability to see potential position after a match</li>
        <li>Added initial cash game support</li>
    </ul>
</div>
@code
{
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
