@page "/"
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor

<h1>Cards App v0.6</h1>

<div>
    <h4>Release Notes</h4>
    <ul>
        <li>Added Board view</li>
        <li>Added Graph Page</li>
    </ul>
</div>
@code
{
    protected override Task OnInitializedAsync()
    {
        var user = httpContextAccessor.HttpContext.User;
        return base.OnInitializedAsync();
    }
}
