@page "/"

<h1>Cards App v0.4</h1>

<div>
    <h4>Release Notes</h4>
    <ul>
        <li>Added support for multi winner games</li>
        <li>Added better stats for each game</li>
        <li>Provided limited support for a legacy style board</li>
        <li>Updated Syncfusion to latest version</li>
    </ul>
</div>
