@page "/OddsCalc"
@using MathNet.Numerics.Distributions
@using System.Globalization
<h3>Odds Calculator</h3>
<p>
    This calculator uses a hypergeometric model to simulate the odds of getting a specific number of cards out of a known sample and population.
    For example if you need 2 hearts out of 30 remaining cards and there are 3 hearts down with 2 rounds of Pineapple OFC.
    The population would be 30, The outs would be 10, the cards left would be 6. You require 2. This would result in a 67.36% Chance
</p>
<EditForm Model="@viewModel" OnSubmit="CalculateOdds">
    <SfNumericTextBox @bind-Value="viewModel.Population" Format="######" TValue="int" Placeholder="Population" Min="1" Max="208" Decimals="0" ValidateDecimalOnType="true" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>
    <SfNumericTextBox @bind-Value="viewModel.Sucesses" Format="######" TValue="int" Placeholder="Outs" Min="1" Max="208" Decimals="0" ValidateDecimalOnType="true" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>
    <SfNumericTextBox @bind-Value="viewModel.Draws" Format="######"TValue="int" Placeholder="Your cards left" Min="1" Max="208" Decimals="0" ValidateDecimalOnType="true" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>
    <SfNumericTextBox @bind-Value="viewModel.Needed" Format="######" TValue="int" Placeholder="Number of outs required" Min="1" Max="208" Decimals="0" ValidateDecimalOnType="true" FloatLabelType="FloatLabelType.Auto"></SfNumericTextBox>
    <button type="submit">Calculate</button>
</EditForm>
@if (!string.IsNullOrWhiteSpace(OverallOdds))
{
    <h4>You have a @OverallOdds chance of hitting those cards</h4>
}

@code {

    public OddsViewModel viewModel { get; set; } = new OddsViewModel();
    public string OverallOdds { get; set; }
    public void CalculateOdds()
    {
        var dist = new Hypergeometric(viewModel.Population, viewModel.Sucesses, viewModel.Draws);
        var result = 1 - dist.CumulativeDistribution(viewModel.Needed - 1);
        Console.WriteLine("Odds calculated");
        OverallOdds = result.ToString("P5", CultureInfo.InvariantCulture);
        this.StateHasChanged();

    }

    public class OddsViewModel
    {
        public int Population { get; set; }
        public int Sucesses { get; set; }
        public int Draws { get; set; }
        public int Needed { get; set; }
    }
}
