@page "/board"

@using CardsBlazor.Data
@using CardsBlazor.ApiControllers
@using System.Timers
@using CardsBlazor.Data.ViewModels
@using Serilog
@using System.Globalization
@inject PlayerService PlayerService
@inject BoardService BoardService
<h3>Legacy Board Viewer</h3>
@if (PlayerList != null)
{
    <p>Showing </p>
    <table class="table">
        <thead class="thead-dark dark-mode-text">
            <tr>
                <th>Time</th>
                @foreach (var player in PlayerList.OrderBy(x => x.PlayerId))
                {
                    <th>@player.RealName</th>
                }
            </tr>
        </thead>
        @foreach (var board in BoardList)
        {
            <tr class="dark-mode-text">
                <td>
                    @board.TimeOfBoard.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                @foreach (var pos in board.Positions.Where(x => !x.Key.HideFromView).OrderBy(x => x.Key.PlayerId))
                {
                    <td>
                        @pos.Value.ToString("C2", CultureInfo.GetCultureInfo("en-GB"))
                    </td>
                }
            </tr>
        }
    </table>
    <SfButton OnClick="PreviousPage" IconCss="oi oi-arrow-left" Disabled="CantMoveBack"></SfButton>
    <SfButton OnClick="NextPage" IconCss="oi oi-arrow-right" Disabled="CantMoveForward"></SfButton>
}

@code {
    private int StartPosition;
    private int PageSize;
    private int CurrentPosition;
    private List<PlayerViewModel> PlayerList;
    private List<BoardViewModel> BoardList = new List<BoardViewModel>();
    private bool CantMoveBack = true;
    private bool CantMoveForward = false;

    protected override async Task OnInitializedAsync()
    {
        StartPosition = 0;
        PageSize = 50;
        PlayerList = await PlayerService.GetPlayersViewModel();
        Refresh();

    }


    private void Refresh()
    {
        var boardData = BoardService.GetNPositions(PageSize, StartPosition);
        BoardList = boardData;
        CantMoveBack = StartPosition == 0;
        CantMoveForward = BoardList.Count < PageSize;
        StateHasChanged();
    }
    private void NextPage()
    {
        StartPosition += 50;
        Refresh();
    }
    private void PreviousPage()
    {
        StartPosition -= 50;
        Refresh();
    }

}
